body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    background: #1F2937 ;
}

.right-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.container {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 350px;
    margin-bottom: 4px;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 425px;
    margin-bottom: 4px;
}

button {
    color: #e5e7eb;
    font-size: 18px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 8px;
    max-width: 125px;
    margin-top: 4px;
    padding: 4px;
}

.box {
    height: auto;
    width: auto;
    border: #dadbd9b9;
    background-color: #dadbd95b;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 100px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.container-2 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

img {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.title {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container-3 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.images {
    max-width: 200px;
    margin-bottom: 64px;
}

.container-4 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 72px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 12px;
    font-weight: lighter;
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    font-weight: 600;
}

p {
    margin: 0px;
}

.container-5 {
    display: flex;
    justify-content: center;
}

.call-header {
    font-size: 24px;
    color: #F9FAF8;
}

.call-text {
    font-size: 18px;
    color: #F9FAF8;
}

.box-2 {
    background-color: #3882f6;
    padding: 48px;
    margin: 64px 0px;
}

.button {
    border: 1px solid white;
    padding: 8px 16px;
}

.box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 48px 64px;
    margin: 64px 0px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    padding: 36px;
}